.accordianWrapper {
  width: 40%;
  margin: 1rem 2rem;
}

.accordianHeader {
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 3rem;
}

.toggleButton {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
}

.accordianBody {
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding: 3rem;
 
}

.accordianBodyMax {
   height: 50px;
   transition: height ease 4s;
}

.accordianBodyZero {
  height: 0px;
}
